<h1>footer</h1>
<div class="container">
    <div class="one">
        <div class="location">
            <div class="logo">
                <fa-icon [icon]="faLocation"></fa-icon>
            </div>
            <div class="address">
                <p>21 Revolution Street <br> <span>Paris, France</span></p>
            </div>
        </div>
        <div class="address">
            <div class="logo">
                <fa-icon [icon]="faPhone"></fa-icon>
            </div>
            <div class="number">
                <h4>+1 555 12455</h4>
            </div>
        </div>
        <div class="email">
            <div class="logo">
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </div>
            <div class="mail">
                <h4><a href="">supportariantechsolutions.com</a></h4>
            </div>
        </div>
    </div>
    <div class="two">
        <div class="">
            <div class="about">
                <h4>About The Company</h4>
            </div>

            <div class="more-about">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores accusantium, voluptate ipsam sunt sed laboriosam tempore eligendi quae modi iure cum consectetur cumque obcaecati quos qui. Ipsam minima reprehenderit, repellendus expedita optio pariatur, blanditiis ipsum tenetur labore dicta quibusdam dignissimos fuga accusamus illum tempore ea facere eum placeat voluptatem sequi.</p>
            </div>

            <div class="logo-connect">
                <div class="svgs">
                    <div><a routerLink=""><fa-icon [icon]="faFacebook" ></fa-icon></a></div>
                    <div><a routerLink=""><fa-icon [icon]="faLinkedin" ></fa-icon></a></div>
                    <div><a routerLink=""><fa-icon [icon]="faTwitter" ></fa-icon></a></div>
                    <div><a routerLink=""><fa-icon [icon]="faGithub" ></fa-icon></a></div>
                </div>
            </div>

        </div>
    </div>
</div>
