<div class="container">
    <h1>Our Services</h1>
    <!-- <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, deleniti culpa aliquam placeat numquam id iusto aliquid pariatur earum sequi accusantium rerum quidem, nihil reprehenderit ex porro ad, veniam quasi molestias hic aperiam adipisci. Esse maiores porro laborum fuga et expedita iusto quam culpa magnam modi ipsa soluta fugiat, magni eos blanditiis officiis suscipit vero facilis debitis voluptas ipsum? Autem distinctio aut architecto? Eos quod praesentium accusantium similique aliquid, excepturi quaerat reiciendis voluptatibus modi commodi, quia ipsum nesciunt fuga! Tempora reiciendis, corporis enim quae id cupiditate molestias aperiam nobis quaerat temporibus modi accusantium quod. Maxime dignissimos beatae voluptatibus accusantium!</h2> -->
    <div class="card">
        <div class="card1">
            <h6>Monthly</h6>
            <h5><span>30$</span></h5>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <button class="btn">check</button>
        </div>
        <div class="card2">
            <h6>Quaterly</h6>
            <h5><span>70$</span></h5>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <button class="btn"><span>check</span></button>
        </div>
        <div class="card3">
            <h6>Yearly</h6>
            <h5><span>100$</span></h5>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <p>Lorem ipsum dolor sit, amet voluptatem?<br></p>
            <button class="btn">check</button>
        </div>
    </div>
</div>
