<div class="container">
    <form  class="form">
        <div class="heading"><h3>Contact Us</h3></div>

        <div class="third-input input">
            <label for="phone"><span>E-mail</span></label><br>
            <input class="border" placeholder="Enter Your E-mail" >
        </div>
        
        <div class="third-input input">
            <label for="phone"><span>Phone Number</span></label><br>
            <input class="border" placeholder="Enter Your Phone Number" >
        </div>

        <!-- <div class="third-input input">
            <label for="phone"><span>Password</span></label><br>
            <input class="border" placeholder="Password" >
        </div> -->
        <button>submit</button>
        <!-- <button type="submit" (click)="navigateToLogin" >Sign Up</button> -->
    </form>
</div>
