<div class="container">
    <h1>Home</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis odit dignissimos explicabo, animi nisi inventore esse commodi alias placeat similique. Laudantium, fuga sint, amet natus sapiente ipsam quam veritatis, <br> quibusdam maxime nemo sed sequi eligendi libero eius excepturi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore ipsum rerum doloremque nam consectetur molestiae nobis, assumenda facere nulla. Sapiente odit iste nostrum laudantium aspernatur nesciunt doloremque quae, sit voluptatum!</h2>
</div>
